/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.btn-custom {
    background-color: #90d082;
    color: white; /* Color del texto */
}

.btn-success {
    background-color: #90d082 !important;
    border-color: #90d082 !important;
    color: white !important;
}

.btn-success:hover {
    background-color: #76b86d !important;
    border-color: #76b86d !important;
}

