<!DOCTYPE html>
<html lang="es" class="h-100">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Departamento</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="../css/estilo.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet">

</head>

<body class="d-flex flex-column h-100">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <main class="flex-shrink-0">
        <div class="container">
            <h3 class="my-3">Agregar Departamento</h3>

            <form action="/nuevo_departamento" method="post" class="row g-3" autocomplete="off">
                {% if success_message %}
                    <script>
                        document.addEventListener("DOMContentLoaded", function () {
                            toastr.options = {
                                "closeButton": true,
                                "progressBar": true,
                                "positionClass": "toast-top-right",
                                "timeOut": "5000"
                            };
                            toastr.success("{{ success_message }}");
                        });
                    </script>
                {% endif %}

                <div class="col-md-6">
                    <label for="nombre_departamento" class="form-label">Nombre del Departamento</label>
                    <input type="text" class="form-control" id="nombre_departamento" name="nombre_departamento" required>
                </div>

                <div class="col-md-6">
                    <label for="id_gobernador" class="form-label">Gobernador (ID Persona)</label>
                    <select id="id_gobernador" name="id_gobernador" class="form-select">
                        <option value="">Seleccionar</option>
                        {% for persona in personas %}
                        <option value="{{ persona['id_persona'] }}">{{ persona['nombre1'] }} {{ persona['apellido1'] }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-12">
                    <a href="/" class="btn btn-secondary">Regresar</a>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>

            </form>
        </div>
    </main>

    {% include 'footer.html' %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>